
<div class="limiter">
	<div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
        <div class="wrap-back p-l-55 p-r-55 p-t-65 p-b-54">
            <p>Bills list</p>
		<table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Bill id</th>
                <th scope="col">Billing date</th>
                <th scope="col">Billing status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
    
            </tbody>
        </table>
	</div>
</div>
