<footer id="contact">
  <div class="footer">
    <ul class="location_icon">
      <li class="mr-5">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Madagascar
      </li>
      <li class="mr-5">
        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
        +263 34 24 877 19
      </li>
      <li class="mr-5">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        mada-mical@garage.com
      </li>
    </ul>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span
              >Copyright &copy; ANDRIATELOASY Solomahery Toavina | RATOVONIRINA
              Eric</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
