<div class="limiter">
	<div class="container-login100" style="background-image: url('assets/login/images/bg-01.jpg');">
		<div class="wrap-back p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Deposit your car 
					</span>
					
					<div class="wrap-input100 validate-input m-b-23">
						<span class="label-input100">Number</span>
						<input class="input100" type="text" placeholder="Number of your car">
						
					</div>
					<div class="wrap-input100 validate-input m-b-23"  >
						<span class="label-input100">Brand</span>
						<input class="input100" type="text" placeholder="Brand of your car"  name="email" >
					
					</div>


						<div class="wrap-input100 validate-input" >
						<span class="label-input100">Model</span>
						<input class="input100" type="text" placeholder="Model of your car" name="pass" >
					
					</div>
					
                    <div class="wrap-input100 validate-input" >
					
						<span class="label-input100">Year</span>
						<input class="input100" type="text" placeholder="Year of your car" name="pass" >
					
					</div>
					<div class="text-right p-t-8 p-b-31">
						
					</div>
					
                 
					<div class="container-login100-form-btn">
						<div class="wrap-back-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" ng-model="button" ng-disabled="checked">
								Submit
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>