<div class="w-100 h-100 bg-mical-theme">
  <div class="h-100 container">
    <div
      class="d-flex align-items-center justify-content-center align-content-center row h-100"
    >
      <div class="col-sm-6 mx-auto text-center text-white">
        <div class="error-template">
          <div class="logo">
            <a (click)="takeHome()"
              ><img src="assets/mical/images/logo.png" alt="#"
            /></a>
          </div>
          <h2 class="mt-5">Page introuvable | Erreur 404 !!</h2>
          <div class="error-details">
            Une erreur s'est produite, rechargez la page ou bien retournez dans
            la page accueil
          </div>
          <div class="mt-4 error-actions">
            <a
              (click)="takeHome()"
              class="btn btn-block btn-success btn-lg text-white"
              ><span class="glyphicon glyphicon-home"></span> Accueil
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
