<div class="limiter">
	<div class="container-login100" style="background-image: url('assets/login/images/bg-01.jpg');">
        <div class="wrap-back p-l-55 p-r-55 p-t-65 p-b-54">
            <p>Receiveing cars</p>
		<table class="table">
            <thead>
              <tr>
                <th scope="col">Car id</th>
                <th scope="col">Car number</th>
                <th scope="col">Deposit date</th>
                <th scope="col">Owner</th>
                <th scope="col">Receive</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor = "let news of data; let i = index;">
              <tr *ngIf="news && objectKeys(news).length > 2">
                <th scope="row">{{i+1}}</th>
                <td>{{ news.numero }}</td>
                <td>{{ news.dateDepot }}</td>
                <td>{{ news.client.nom }}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="addRepair(news.numero)"> Receive</button>
                </td>
              </tr>
            </ng-container>
              <tr>
    
             
            </tbody>
        </table>
	</div>
</div>
