<div class="limiter">
	<div class="container-login100" style="background-image: url('assets/login/images/bg-01.jpg');">
        <div class="wrap-back p-l-55 p-r-55 p-t-65 p-b-54">
            <p>Car leaving</p>
		<table class="table">
            <thead>
              <tr>
                <th scope="col">Your car</th>
                <th scope="col">Car number</th>
                <th scope="col">Deposit date</th>
                <th scope="col">Disposing</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-primary"> Dispose</button>
                </td>
              </tr>
              <tr>
    
            </tbody>
        </table>
	</div>
</div>
