<div class="limiter">
	<div class="container-login100" >
        <div class="wrap-back p-l-55 p-r-55 p-t-65 p-b-54">
          <h3
          class="d-flex justify-content-between align-content-center align-items-center responsive-hidee"
        >
        Sortie des voitures
          <i class="fa fa-server mr-3"></i>
        </h3>
		<table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Car number</th>
                <th scope="col">Deposit date</th>
                <th scope="col">Deposeur</th>
                <th scope="col">Sortir</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor = "let news of data; let i = index;">
              <tr *ngIf="news && objectKeys(news).length > 1&&news.validationClient==true&&news.sortie==false&&news.paiement==true" >
                <th scope="row">{{i+1}}</th>
                <td>{{ news.numero }}</td>
                <td>{{ news.dateDepot| date:'medium' }}</td>
                <td>{{ news.client.nom }}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="dispose(news._id)"> Dispose</button>
                </td>
              </tr>
            </ng-container>
              <tr>
    
    
            </tbody>
        </table>
	</div>
</div>
